@use "../presets" as *;


%container {
  width: min(100% - $gap-x2 , $container-size);

  margin-inline: auto;
}

%containerm {
  max-width: $ul;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}
